 html, body, h1, h2, ul, li, p, a {
      padding: 0;
      border: 0;
      margin: 0;
      font-size: 100%;
      font: inherit;
  }
  body {
    background: #40d692 url(images/pattern.png) top left repeat;
    font-family: Helvetica, Arial, sans-serif;
  }
  .header h1 {
    background:#fff url(images/crossword.png) top left repeat;
    color: #40d692;
    margin: 20px 20px 10px 20px;
    font-size: 50px;
    font-weight: bold;
  }
  .main-content {
    background: #fff url(images/crossword.png) top left repeat;
    width: 900px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
  }
  .nav li{
    text-align: center;
    display: inline;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
